@model OrdersViewModel

<div class="container">
	<form asp-action="Index" asp-route-sortOrder="@Model.CurrentOrder" asp-route-Page="@Model.PageInfo.PageNumber" method="get" role="search">
		<div class="mb-3 row">
			<div class="col-auto">
				<label for="Filter" class="col-form-label">Filter by id or name:</label>
			</div>
			<div class="col-auto">
				<input type="search" class="form-control" name="Filter" placeholder="Filter..." value="@Model.CurrentFilter" />
			</div>
			<div class="col-auto">
				<button type="submit" class="btn btn-primary">Filter</button>
			</div>
			<div class="col-auto">
				<a asp-action="Index" asp-route-sortOrder="@Model.CurrentOrder" asp-route-Page="@Model.PageInfo.PageNumber" class="btn btn-secondary">Reset</a>
			</div>
		</div>
	</form>
</div>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">
					<a asp-action="Index" asp-route-sortOrder="@Model.IdSortParam" asp-route-Page="@Model.PageInfo.PageNumber" asp-route-filter="@Model.CurrentFilter">Id</a>
				</th>
				<th scope="col">
					<a asp-action="Index" asp-route-sortOrder="@Model.NameSortParam" asp-route-Page="@Model.PageInfo.PageNumber" asp-route-filter="@Model.CurrentFilter">Customer</a>
				</th>
				<th scope="col">
					<a asp-action="Index" asp-route-sortOrder="@Model.DateSortParam" asp-route-Page="@Model.PageInfo.PageNumber" asp-route-filter="@Model.CurrentFilter">Date</a>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Orders) {
			<tr>
				<th scope="row">@item.Id</th>
				<td>@item.Customer.FullName</td>
				<td>@item.OrderDate.ToLongDateString()</td>
			</tr>
			}
		</tbody>
	</table>
</div>

<div class="container">
	@(Html.CreatePagination(Model.PageInfo ,x=> Url.Action("Index", new{page = x, sortOrder=Model.CurrentOrder, filter = Model.CurrentFilter}), Model.Options))
</div>


