@model Order

<h4>Order: @Model.Id</h4>
<div class="container">
	<div class="row">
		<dl class="row">
			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.Customer.FullName)</dt>
			<dd class="col-sm-3">@Model.Customer.FullName</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.Store.Name)</dt>
			<dd class="col-sm-3">@Model.Store.Name</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.OrderDate)</dt>
			<dd class="col-sm-3">@Model.OrderDate.ToLongDateString()</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.RequiredDate)</dt>
			<dd class="col-sm-3">@Model.RequiredDate.ToLongDateString()</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.ShippedDate) </dt>
			<dd class="col-sm-3">@Model.ShippedDate?.ToLongDateString()</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.OrderStatus)</dt>
			<dd class="col-sm-3">@Model.OrderStatus</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.Stuff.FullName)</dt>
			<dd class="col-sm-3">@Model.Stuff.FullName</dd>
		</dl>
	</div>
</div>
<h4>Items</h4>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">@Html.DisplayNameFor(o=>o.Id)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.OrderItems.FirstOrDefault().Product.Name)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.OrderItems.FirstOrDefault().Product.Brand)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.OrderItems.FirstOrDefault().Product.Category)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.OrderItems.FirstOrDefault().Product.ModelYear)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.OrderItems.FirstOrDefault().Quantity)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.OrderItems.FirstOrDefault().ListPrice)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.OrderItems.FirstOrDefault().Product.ListPrice)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.OrderItems) {
			<tr>
				<td>@item.ItemId</td>
				<td>@item.Product.Name</td>
				<td>@item.Product.Brand.Name</td>
				<td>@item.Product.Category.Name</td>
				<td>@item.Product.ModelYear</td>
				<td>@item.Quantity</td>
				<td>@item.ListPrice</td>
				<td>@item.Product.ListPrice</td>
			</tr>
			}
		</tbody>
	</table>
</div>
