@model OrderViewModel

<h4>Order: @Model.Order.Id</h4>
<div class="container">
	<div class="row">
		<dl class="row">
			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.Order. Customer.FullName)</dt>
			<dd class="col-sm-3">@Model.Order.Customer.FullName</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.Order.Store.Name)</dt>
			<dd class="col-sm-3">@Model.Order.Store.Name</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.Order.OrderDate)</dt>
			<dd class="col-sm-3">@Model.Order.OrderDate.ToLongDateString()</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.Order.RequiredDate)</dt>
			<dd class="col-sm-3">@Model.Order.RequiredDate.ToLongDateString()</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.Order.ShippedDate) </dt>
			<dd class="col-sm-3">@Model.Order.ShippedDate?.ToLongDateString()</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.Order.OrderStatus)</dt>
			<dd class="col-sm-3">@Model.Order.OrderStatus</dd>

			<dt class="col-sm-3">@Html.DisplayNameFor(o=>o.Order.Stuff.FullName)</dt>
			<dd class="col-sm-3">@Model.Order.Stuff.FullName</dd>
		</dl>
	</div>
</div>
<h4>Items</h4>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">@Html.DisplayNameFor(o=>o.Order.Id)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.Order.OrderItems.FirstOrDefault().Product.Name)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.Order.OrderItems.FirstOrDefault().Product.Brand)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.Order.OrderItems.FirstOrDefault().Product.Category)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.Order.OrderItems.FirstOrDefault().Product.ModelYear)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.Order.OrderItems.FirstOrDefault().Quantity)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.Order.OrderItems.FirstOrDefault().ListPrice)</th>
				<th scope="col">@Html.DisplayNameFor(o=>o.Order.OrderItems.FirstOrDefault().Product.ListPrice)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Order.OrderItems) {
			<tr>
				<td>@item.ItemId</td>
				<td>@item.Product.Name</td>
				<td>@item.Product.Brand.Name</td>
				<td>@item.Product.Category.Name</td>
				<td>@item.Product.ModelYear</td>
				<td>@item.Quantity</td>
				<td>@item.ListPrice</td>
				<td>@item.Product.ListPrice</td>
			</tr>
			}
		</tbody>
	</table>
</div>
