@model CustomersViewModel

@{
	string actionForSearchForm =  Url.Action("Orders");
	string urlForReset = Url.Action("Orders", new { page = Model.PageInfo.PageNumber, sortOrder = Model.CurrentOrder });
	//Для сохранения страницы и сортировки
	Dictionary<string, string> pageParams = new Dictionary<string, string>();
	pageParams.Add("page", Model.PageInfo.PageNumber.ToString());
	if (Model.CurrentOrder != null)
		pageParams.Add("sortOrder", Model.CurrentOrder);
}
<div class="container">
	@Html.CreateFilter(urlForReset, actionForSearchForm ,"Filter:", Model.CurrentFilter, pageParams)
</div>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">
					<a asp-action="Index" asp-route-sortOrder="@Model.IdSortParam" asp-route-Page="@Model.PageInfo.PageNumber" 
					asp-route-filter="@Model.CurrentFilter">@Html.DisplayNameFor(o=>o.Customers.FirstOrDefault().Id)</a>
				</th>
				<th scope="col">
					<a asp-action="Index" asp-route-sortOrder="@Model.NameSortParam" asp-route-Page="@Model.PageInfo.PageNumber" 
					asp-route-filter="@Model.CurrentFilter">@Html.DisplayNameFor(o=>o.Customers.FirstOrDefault().FullName)</a>
				</th>
				<th scope="col">
					<a asp-action="Index" asp-route-sortOrder="@Model.EmailSortParam" asp-route-Page="@Model.PageInfo.PageNumber" 
					asp-route-filter="@Model.CurrentFilter">@Html.DisplayNameFor(o=>o.Customers.FirstOrDefault().Email)</a>
				</th>
				<th scope="col">
					<a asp-action="Index" asp-route-sortOrder="@Model.PhoneSortParam" asp-route-Page="@Model.PageInfo.PageNumber" 
					asp-route-filter="@Model.CurrentFilter">@Html.DisplayNameFor(o=>o.Customers.FirstOrDefault().Phone)</a>
				</th>				
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Customers) {
			<tr>
				<th scope="row">@item.Id</th>
				<td><a asp-action="Customer" asp-route-id="@item.Id">@item.FullName</a></td>
				<td>@item.Email</td>
				<td>@item.Phone</td>
			</tr>
			}
		</tbody>
	</table>
</div>

<div class="container">
	@(Html.CreatePagination(Model.PageInfo ,x=> Url.Action("Orders", new{page = x, sortOrder=Model.CurrentOrder, filter = Model.CurrentFilter}), options.Value))
</div>
		
